@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


body , * {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background:#3a3b3c;
    color:white;
}

.success-btn {
    background:#24a0ed;

    color:white;
}

.danger-btn {
    background: #db5f12;

    color:white;
}

.info-btn {
    background: #ffc107;

    color:white;
}

.warning {
  color:red;
}

.add-btn{
  background:white;
  color:black;
  padding: 0px 10px;
  font-weight: 900;
  font-size:24px;
}

#invoice-form {
  width:90%;
  margin-right:auto;
  margin-left:auto;
  text-align: center;
  padding: 40px;

}

#invoice-form th{
  padding: 15px;
}

#invoice-form tr td{
  padding: 5px 10px;

}

#invoice-form .form-group {
  display:flex;
  justify-content: space-between;
  align-items: center;

}

#invoice-form .form-group input, #invoice-form .form-group select {
  height:35px;
  padding:2px 8px;
  border-radius:5px;
  border-color:#fff;
}





#action-buttons {
    width:80%;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    justify-content: center;
    gap:30px;
    align-items: center;
}

#action-buttons button {
    width:200px;
    height:35px;
    border-radius:5px;
    font-size:16px;
    font-weight:800;
    text-shadow:1px 1px 1px #000;
    border:2px solid #fff;
}

@media (max-width: 767px) {
}

/* Tablet styles */

@media (min-width: 768px) and (max-width: 1023px) {
}

/* Desktop styles */
@media (min-width: 1024px) {
}
