body , * {
  padding:0 !important;
  margin:0 !important;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
  background:#fff !important;
  color:#000 !important;
}

table td, table th {
  white-space: nowrap;
}